art==5.4
PythonTurtle==0.3.2
Reading package lists...
Building dependency tree...
Reading state information...
python3-tk is already the newest version (3.8.10-0ubuntu1~20.04).
0 upgraded, 0 newly installed, 0 to remove and 14 not upgraded.
